.libraryList {
  display: grid;
}

.libraryItem {
  display: flex;
  background: hsl(0, 0%, 5%);
  padding: 5px 7.5px 5px 5px;
  gap: 7.5px;
  align-items: center;
}

.libraryItem:first-child {
  border-radius: 10px 10px 0 0;
}

.libraryItem:last-child {
  border-radius: 0 0 10px 10px;
}

.libraryItem:not(:last-child) {
  border-bottom: 1px solid rgb(0, 0, 0);
}

/* Remove border if there's only one item */
.libraryItem:first-child:last-child {
  border-bottom: none;
}

.details {
  display: grid;
  align-items: center;
  user-select: none;
  & h3 {
    font-size: 0.9rem;
  }
  & a {
    color: var(--systemSecondary);
    text-decoration: none;
    font-size: 0.8rem;
    margin-top: -5px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.image {
  --imageSize: 35px;
  width: var(--imageSize);
  height: var(--imageSize);
  position: relative;

  user-select: none;
  --albumArtworkSize: var(--albumHeaderHeight);
  aspect-ratio: 1 / 1;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
  contain: content;
  overflow: hidden;
  position: relative;
  &:after {
    content: "";
    border-radius: inherit;
    box-shadow: inset 0 0 0 0.5px hsla(0, 0%, 75%, 0.1);
    display: block;
    height: 0;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: opacity 0.1s ease;
  }
}
