.album-cover-img {
  border-radius: 16px;
  display: block;
  width: 100%;
  height: auto;
}

.album-container {
  position: relative;
  display: inline-block;
  border-radius: 16px;
  margin-bottom: 0.25rem;
  width: 300px;
}

.album-border {
  border-radius: 16px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
  border: 2px solid rgba(255, 255, 255, 0.35);
  mix-blend-mode: overlay;
  scale: 0.996;
}

.album-shadow {
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.15), 0px 0px 0px 1px hsla(214, 0%, 27%, 0.04),
    0px 1px 0px -0.5px hsla(220, 0%, 22%, 0.04),
    0px 3px 3px -1.5px hsla(221, 0%, 22%, 0.04),
    0px 6px 6px -3px hsla(221, 0%, 22%, 0.04),
    0px 12px 12px -6px hsla(214, 0%, 27%, 0.04),
    0px 24px 24px -12px hsla(214, 0%, 27%, 0.04);
}

.music-cards {
  display: flex;
  /* width: 109%;
  right: 4vw; */
  position: relative;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  & li {
    padding-inline: 1.5rem;
    padding-block: 12px;
    border-top: 1px solid hsl(var(--foreground) / 0.05);
    &:nth-child(odd) {
      background-color: hsl(var(--foreground) / 0.025);
    }
    &:nth-last-child(1) {
      border-bottom: 1px solid hsl(var(--foreground) / 0.05);
    }
  }
  & li span {
    color: hsl(var(--muted-foreground) / 0.5);
    margin-right: 1.25rem;
    width: 1rem;
  }
}

@media (display-mode: standalone) {
  .music-cards {
    width: 109%;
    right: 4vw;
  }
}
