.closeButton {
  --closeButton-vibrant-saturation: saturate(125%);
  --closeButton-vibrant-brightness: brightness(125%);
  backdrop-filter: var(--closeButton-vibrant-saturation)
    var(--closeButton-vibrant-brightness);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  width: 30px;
  height: 30px;
  margin: 20px;
  padding: 9px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.125s opacity ease-out, 0.125s transform ease-out,
    0.125s background-color ease-out;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  pointer-events: all;
  -webkit-tap-highlight-color: transparent;
  &:hover {
    background-color: rgba(255, 255, 255, 0.125);
  }
  &:active {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.closeButton:hover .xmark {
  fill: rgba(255, 255, 255, 0.8);
}
