@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent-x: #ff5500;
    --accent: 20 100% 50%;
    --accent-foreground: 20 100% 45%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 20 100% 50%;
    --accent-foreground: 20 100% 45%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::-webkit-scrollbar {
    width: 12px;
    background: var(--background-x);
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 50px 50px transparent;
    border: solid 3px transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 999px;
    box-shadow: inset 0 0 50px 50px hsla(0, 0%, 100%, 0.1);
    border: solid 3px transparent;
  }
  @media (display-mode: standalone) {
    *:not(input):not(select):not(code):not(textarea):not([contenteditable]) {
      webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}

@media (display-mode: standalone) {
  body {
    min-height: calc(100% + env(safe-area-inset-top));
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);
  }
}

@font-face {
  src: url("../../public/assets/fonts/SFNS.woff2") format("woff2-variations");
  font-family: "SF Pro";
  font-style: normal;
}
@font-face {
  src: url("../../public/assets/fonts/SFNSItalic.woff2")
    format("woff2-variations");
  font-family: "SF Pro";
  font-style: italic;
}

@font-face {
  src: url("../../public/assets/fonts/SFNSRounded.woff2")
    format("woff2-variations");
  font-family: "SF Rounded";
  font-style: normal;
}

.SFPro {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro", sans-serif;
}

.text-ambient {
  color: var(--ambient);
  transition: all;
  transition-duration: 0.5s;
}

input[type="range"] {
  transition: all 0.1s ease;
}

/* Page */

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  padding: 6rem;
}

@media (display-mode: standalone) {
  .page {
    padding-top: 3rem;
    padding-bottom: 10rem;
    padding-inline: 1.25rem;
  }
}

.ambient-bg {
  background: radial-gradient(
    circle,
    var(--ambient) 0%,
    hsl(var(--background) / 1) 100%
  );
  /* transform: scaleX(1); */
  scale: 1 70%;
  width: 99svw;
  height: 100vh;
  top: 0;
  opacity: 1;
  position: relative;
  mask: linear-gradient(180deg, black, black, transparent);
  &:after {
    content: "";
    position: absolute;
    /* bottom: 0; */
    /* left: 0; */
    width: 50%;
    height: 50%;
    background: linear-gradient(
      180deg,
      var(--ambient) 0%,
      hsl(var(--background) / 1) 50%
    );
    opacity: 0;
  }
}

@media not all and (min-width: 640px) {
  .ambient-bg {
    background: radial-gradient(
      circle,
      var(--ambient) 0%,
      hsl(var(--background) / 1) 90%
    );
    scale: 100% 1;
  }
}

.ambient-bg1 {
  background: radial-gradient(
    circle,
    var(--ambient) 0%,
    hsl(var(--background) / 1) 90%
  );
  position: absolute;
  bottom: 170px;
  width: 100%;
  height: 100vh;
  left: 0;
  opacity: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      var(--ambient) 0%,
      hsl(var(--background) / 1) 50%
    );
    opacity: 1;
  }
}

/* Mobile Navbar */

.navbar-mobile-container {
  overflow: hidden;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 150;
}

.blur-pro div div {
  width: 100vw !important;
  height: 15vh !important;
  bottom: 0 !important;
  position: fixed !important;
  inset: auto auto 0 auto !important;
  &:is(.light *) {
    background: linear-gradient(
      to top,
      rgb(from rgba(255, 255, 255, 0.1) r g b / alpha) 0%,
      rgb(from rgba(255, 255, 255, 0.1) r g b / 0%) 100%
    ) !important;
  }
  @media (prefers-color-scheme: light) {
    background: linear-gradient(
      to top,
      rgb(from rgba(255, 255, 255, 0.1) r g b / alpha) 0%,
      rgb(from rgba(255, 255, 255, 0.1) r g b / 0%) 100%
    ) !important;
  }
  &:is(.dark *) {
    background: linear-gradient(
      to top,
      rgb(from rgba(0, 0, 0, 1) r g b / alpha) 0%,
      rgb(from rgba(0, 0, 0, 1) r g b / 0%) 100%
    ) !important;
  }
  @media (prefers-color-scheme: dark) {
    background: linear-gradient(
      to top,
      rgb(from rgba(0, 0, 0, 0.75) r g b / alpha) 0%,
      rgb(from rgba(0, 0, 0, 0.75) r g b / 0%) 100%
    ) !important;
  }
}

.navbar-mobile {
  display: flex;
  /* background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 100%
  ); */
  /* -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px); */
  align-items: center;
  z-index: 50;
  width: 100%;
  padding: 40px 15px 20px 15px;
  justify-content: space-between;
  /* mask: linear-gradient(0deg, black 60%, transparent 100%); */
  /* backdrop-filter: blur(20px); */
}

/* @media (prefers-color-scheme: dark) {
  .navbar-mobile {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    );
  }
} */

.navbar-icon-title {
  font-size: 1rem;
}

.navbar-mini-container {
  min-width: 100vw;
  background: transparent;
  position: fixed;
  z-index: 70;
  bottom: 5rem;
  padding: 0.5rem 1rem;
  display: flex;
  left: 0;
}

@media (display-mode: standalone) {
  .navbar-mobile {
    padding: 30px;
    padding-top: 90px;
    backdrop-filter: blur(30px);
    /* background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 75%,
      rgba(0, 0, 0, 0.2) 100%
    ); */
  }
  .navbar-icon-title {
    font-size: 0.65rem;
    font-weight: 500;
  }
  .navbar-mini-container {
    padding: 0.5rem 0.75rem;
  }
}

.navbar-body-mobile {
  min-height: 95vh;
  min-width: 100vw;
}

.mini-control {
  box-shadow: 0px 0px 0px 1px hsla(214, 0%, 27%, 0.04),
    0px 1px 0px -0.5px hsla(220, 0%, 22%, 0.04),
    0px 3px 3px -1.5px hsla(221, 0%, 22%, 0.04),
    0px 6px 6px -3px hsla(221, 0%, 22%, 0.04),
    0px 12px 12px -6px hsla(214, 0%, 27%, 0.04),
    0px 24px 24px -12px hsla(214, 0%, 27%, 0.04);

  display: flex;
  padding: 0.5rem;
  width: 100%;
  flex-grow: 1;
  font-weight: 600;
}

/* Mobile Navbar - END */

.marquee-mask {
  -webkit-mask: linear-gradient(270deg, transparent 35px, black 50px);
  mask: linear-gradient(270deg, transparent 35px, black 50px);
  width: 100px;
  height: 100px;
}

/* Controls */

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  margin: 10px 10px;
  padding: 30px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
}

/* Controls - END */

/* Lyrics */

:root {
  --appleEase: cubic-bezier(0.42, 0, 0.58, 1);
}

/* .not-active-lyric {
  --fontSize: clamp(16px, 12cqw, 32px);
  --fontSizeBG: 1rem;
  --lineBlurAmount: 1px;
  font-weight: 700;
  opacity: 0.5;
  cursor: pointer;
  font-size: var(--fontSize);
  transform-origin: left;
  transform: scale(0.8);
  transition: transform 1s ease-out, opacity 0.8s ease-out,
    padding-top 0.5s ease-out;
  padding-top: 0;
  margin-top: 0.5rem;
  position: relative;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  filter: blur(var(--lineBlurAmount));
}

.active-lyric {
  opacity: 1;
  transform: scale(1);
  filter: unset;
  transition: transform 0.2s var(--appleEase), opacity 0.35s var(--appleEase),
    filter 0.35s var(--appleEase);
}

.apple-ease {
  transition: transform 0.2s var(--appleEase), opacity 0.35s var(--appleEase),
    filter 0.35s var(--appleEase);
} */

@media (min-width: 640px) {
  .artist-header {
    box-shadow: 0px 0px 0px 1px hsla(214, 0%, 27%, 0.04),
      0px 1px 0px -0.5px hsla(220, 0%, 22%, 0.04),
      0px 3px 3px -1.5px hsla(221, 0%, 22%, 0.04),
      0px 6px 6px -3px hsla(221, 0%, 22%, 0.04),
      0px 12px 12px -6px hsla(214, 0%, 27%, 0.04),
      0px 24px 24px -12px hsla(214, 0%, 27%, 0.04);
  }
}

@media not all and (min-width: 640px) {
  .artist-header img {
    mask: linear-gradient(180deg, black 0%, black 75%, transparent 99%);
  }
}

/* ------------------ */

@media (hover: hover) {
  .desktop-hover-library-card:hover {
    background-color: hsl(var(--foreground) / 0.05);
  }
}

/* Album Animated */

.album-animated-blur,
.album-animated-fade {
  transform: translateY(calc(100% - var(--line-height-offset-animated-cover)));
  backdrop-filter: blur(15px);
  mask: linear-gradient(0deg, black 0%, black 75%, transparent 99%);
}

/* .animated-video-container {
  background-color: var(--apple-animated-bg-color);
  & div {
    mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0) 42%,
      rgb(0, 0, 0) 45%,
      rgb(0, 0, 0) 55%,
      rgba(0, 0, 0, 0) 58%
    );
  }
} */

/* Album Animated - END */
