.section {
  --bodyGutter: 40px;
  --itemSize: 200px;
  padding-bottom: 2.5rem;
}

.sectionHeader {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  margin: 0 var(--bodyGutter) 13px;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1rem;
  & a {
    display: flex;
    align-items: center;
    gap: 0.275rem;
  }
}

.sectionHeaderChevron {
  fill: var(--systemSecondary);
  height: 12px;
}

.sectionItems {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--itemSize), 1fr));
  gap: 1rem;
  padding: 0px var(--bodyGutter);
}

.sectionItem {
  width: var(--itemSize);
}

.sectionItemImage {
  width: var(--itemSize);
  height: var(--itemSize);
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
  overflow: hidden;
  border-radius: 7px;
  /* border-bottom: 1px solid var(--systemSecondary); */
  &:after {
    border-radius: inherit;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 50%, 0.1);
    content: "";
    display: block;
    height: 0;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: calc(var(--z-default) + 1);
  }
}

.sectionItemSubtitle {
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 0.5rem;
  line-height: 1.25;
  & p {
    color: var(--systemSecondary);
    font-size: 0.8rem;
    font-weight: 450;
  }
}
