.artworkWrapper {
  position: relative;
  width: 45px;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.blurredArtwork {
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 20px;
  background-size: cover;
  filter: blur(10px) saturate(1.5);
  scale: 0.75;
  opacity: 0.25;
  z-index: 0;
}

.artworkContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  z-index: 1;
  &:after {
    content: "";
    border-radius: inherit;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 50%, 0.1);
    display: block;
    height: 0;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    z-index: 1;
    transition: opacity 0.25s ease;
  }
  &:hover {
    &:after {
      opacity: 1;
    }
  }
}