.ControlsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

@media not all and (min-width: 640px) {
  .ControlsContainer {
    display: none;
    justify-content: space-between;
    align-items: center;
  }
}